<section class="orders-show">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <p>Our company is a good company that sells things over the interwebs and takes a commission. Please do not sue.</p>

</section>
